package uk.ac.bham.codeclassroom.repository;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import uk.ac.bham.codeclassroom.model.{{className}};

/**
 * Spring Data JPA Repository for the {@link {{className}}} entity.
 */
@Repository
public interface {{className}}Repository extends JpaRepository<{{className}}, Long> {
}
